
body{
  
    margin-left: 0px;
    margin-right:0px;
    margin-bottom: 0px;
    
 }

 .half-width p{
     font-size: 1.5em;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
 }


 .contrast-color{
    color: #71d8df;
}
 .header{
     color: navy;
     margin-top: 80px;
     font-family: 'Luxurious Roman', cursive;
     
     padding-left: 10px;
     border-left: 3px solid pink;
    
     font-size: 3.5em;
     
 }

 
 .section-1-5{
     display: flex;
     margin-bottom: 80px;
     margin-left: 150px;
 }


 .half-width{width: 50%; 
 }
 
 .half-width img{ width: 60%;
    margin-left: 60px;
    margin-top: 20px;
    
 }
 

 .link-button{
 background-color: #71d8df;
 font-size: 1.2em;                        ;
 color: rgb(0, 0, 0);
 padding: 10px 20px;
 text-decoration: none;
 border-radius: 5px;
 margin-top: 20px;
 box-shadow: -5px 5px 10px rgb(206, 126, 139);
 }

 #discrete-text{
     margin-left: 150px;
     margin-bottom: 70px;
 }

 .my-mission-header{
     text-align: center;
     color: navy;
     margin-top: 30px;
     font-size: 2.5em;
    
 }
 

 .my-mission{
    display: flex;
    margin-left: 150px;

 }

 .my-mission img{
     width: 60%;
 }


 .my-mission-box{
    padding: 40px 20px ;
    border-radius: 10px;
 }

#mission{
     background-color: rgb(208, 231, 235);
 }

 #vision{
     background-color: rgb(240, 212, 240);
     margin:0 40px ;
 }

 #goals{
     background-color: rgb(241, 240, 240);
     margin-right: 150px;
 }

.develop{
    display: flex;
    margin-left: 150px;
    margin-top: 100px;
    margin-right:50px ;

}
 .develop-header{
    color: navy;
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
 }

 .develop-div{
    width: 50%; 
 }

 .develop-div img{ 
    width: 60%;
    margin-left: 60px;
    margin-top: 20px;
 }

 .develop-div p{
    font-size: 1.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding-right: 50px;
}

.glbl-cmnty{    display: flex;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom:100px ;
}

.glbl-cmnty-div{
    width: 50%;
}

.glbl-cmnty-div p{
    font-size: 1.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.glbl-cmnty-div img{
     width: 55%;
    
    margin-left: 100px;

}

.glbl-cmnty-header{
    margin-top: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: navy;
    
    font-size: 2em;

}


.boxshadow-header{
   color: rgb(145, 113, 118);
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
   font-size: 2em;

}


.last-boxshadow{
 
    padding-left: 30px;
    box-shadow: -20px 20px 50px pink;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
   
}

li{
   
  display: inline;
    list-style: none;   
}

li img{
    background-color:rgb(112, 86, 91);
    padding: 10px;
    border-radius: 5px;
}

ul{
    display: flex;
    width: 60%;
    padding-bottom: 10px;
}
 
 footer{
     text-align: center;
     color: white;
     background-color: rgb(24, 23, 23);
     padding-top: 15px;
     padding-bottom: 15px;
    
 }
 
 small{
     color: rgb(240, 240, 240);
 }    
 


 
